<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @service.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @service.description %>
</p>

<p>
  <strong>Location:</strong>
  <%= @service.location %> (<%= link_to 'map', @service.google_maps_link(@service.location) %>)
</p>

<p>
  <strong>Organization:</strong>
  <%= @service.organization %>
</p>

<% if !@service.properties.blank? %>
  <p>
    <strong>Open to people who are:</strong>
    <ul>
      <% @service.properties.each do |property| %>
        <li><%= property.description %></li>
      <% end %>
    </ul>
  </p>
<% end %>

<% if !@service.tags.blank? %>
  <p>
    <strong>Available services include:</strong>
    <ul>
      <% @service.tags.each do |tag| %>
        <li><%= tag.name %></li>
      <% end %>
    </ul>
  </p>
<% end %>

<%= link_to 'Edit', edit_service_path(@service) %> |
<%= link_to 'Back', services_path %>
