<!-- @todo: Update home.html.erb to walk people through the intro to what this is and then direct them here once they're ready to start. -->
<h1>Search</h1>

<%= form_for @search, html: { class: "pure-form" } do |s| %>

  <div class="field">
    <%= s.label :address_city %><br />
    <%= s.text_field :address_city %>
  </div>

  <div class="field">
    <%= s.label :veteran %><br />
    Yes <%= s.radio_button :veteran, true, label: 'Yes' %>
    No <%= s.radio_button :veteran, false, label: 'No' %>
  </div>

  <div class="actions">
    <%= s.submit "Search", class: "pure-button pure-button-primary" %>
  </div>

<% end %>
