  <%= bootstrap_form_for(@search) do |f| %>
    <!-- The documentation says this should be wrapper_class but class is what works. (https://github.com/bootstrap-ruby/rails-bootstrap-forms#additional-form-group-attributes) -->
    <!-- Magic number below is tag_id, as an interim measure. -->
    <%= f.form_group :domestic_violence_hotline, class: 'section', label: { text: 'Are you interested in a domestic violence hotline?'} do %>
        <%= f.radio_button :domestic_violence_hotline, 't', label: 'Yes' %>
        <%= f.radio_button :domestic_violence_hotline, 'f', label: 'No' %>
    <% end %>

    <%= f.submit 'Submit', id: 'btn-submit' %>
  <% end %>

  <div class="nav-buttons">
      <button class="btn btn-default btn-previous" type="button">Previous</button>
      <button class="btn btn-default btn-next" type="button">Next</button>
  </div>
