<div class="container-fluid">
  <h1 class="text-left">About</h1>
  <p>
    Have you or someone you know been harmed by crime? Do you live in Alameda County, Calif.? Resources and services exist, but it can be challenging to find the right ones for you. Taking Steps can help you find the most relevant resources quickly.
  </p>
  <h4>Who&rsquo;s behind this?</h4>
  <p>
    This tool was developed by <%= link_to 'Code for America', 'http://www.codeforamerica.org' %> with support from the <%= link_to 'Cantinas Foundation', 'http://www.cantinas.org' %> and help from <%= link_to 'Californians for Safety and Justice', 'http://safeandjust.org' %>&rsquo;s Victims User Group.
  </p>
  <h4>Data sources</h4>
  <p>
    Due to the proprietary nature of social service data in Alameda County, Taking Steps is currently in <strong>demonstration mode</strong>. All services shown are sample data for illustration purposes only.
  </p>
  <h4>I have a database of social service information. Can I use this with my own data?</h4>
  <p>
    Yes! See <%= link_to 'the GitHub repository', 'https://www.github.com/codeforamerica/eligible-for-what' %> for more information.
  </p>
  <h4>Contribution opportunities</h4>
  <p>
    Want to help develop this further? Great! Taking Steps is an open source project. <%= link_to 'Fork it on GitHub', 'https://www.github.com/codeforamerica/eligible-for-what' %>.
  </p>
</div>
