<h1>Taking Steps</h1>
<!-- @todo: Move the following intake form to a separate page and refactor all of this as partials. Have home.html be a genuine orientation to what's going on here. -->

  <%= bootstrap_form_tag url: '/query' do |f| %>
    <!-- @todo: Figure out a better way to handle address. Consider offering to
         autodetect location, but keep in mind that people might find it creepy. You could try a "Use my location" button a la Gas Buddy, I suppose. -->

    <!-- Address -->
    <%= f.form_group :address, label: { text: 'Address'}, help: 'We will use your address to find services near your location. All personal information will be kept private.' do %>

        <%= f.text_field :address_street, label: 'Street address:', value: '1234 Main Street' %>

        <%= f.text_field :address_apt, label: 'Apartment/unit/floor:' %>
        <%= f.text_field :address_city, label: 'City:' %>
        <%= f.text_field :address_state, label: 'State:', value: 'CA' %>
        <%= f.number_field :address_zip, label: 'ZIP:' %>
    <% end %>

    <!-- Gender -->
    <%= f.form_group :gender, label: { text: 'What is your gender?'} do %>
        <%= f.radio_button :gender, 0, label: 'Female' %>
        <%= f.radio_button :gender, 1, label: 'Male' %>
        <%= f.radio_button :gender, 2, label: 'Other' %>
    <% end %>
    <%= f.form_group :transgender, label: { text: 'Do you identify as transgender or gender-variant?'} do %>
        <%= f.radio_button :transgender, 1, label: 'Yes' %>
        <%= f.radio_button :transgender, 0, label: 'No' %>
    <% end %>

    <!-- Race -->
    <%= f.form_group :race, label: { text: 'How would you describe your race?'} do %>
        <%= f.check_box :race, label: 'Black or African-American' %>
        <%= f.check_box :race, label: 'Asian/Pacific Islander' %>
        <%= f.check_box :race, label: 'American Indian or Native American' %>
        <%= f.check_box :race, label: 'White or Caucasian' %>
        <%= f.check_box :race, label: 'Hispanic or Latino/a' %>
        <%= f.check_box :race, label: 'Other' %>
    <% end %>

    <!-- Age -->
    <%= f.form_group :age, label: { text: 'Age:'} do %>
        <%= f.radio_button :age, 0, label: 'I am younger than 21' %>
        <%= f.radio_button :age, 1, label: 'I\'m over 21' %>
    <% end %>

    <%= f.submit %>
  <% end %>
