<h1>Taking Steps</h1>
<!-- @todo: Move the following intake form to a separate page and refactor all of this as partials. Have home.html be a genuine orientation to what's going on here. -->

  <%= bootstrap_form_tag url: '/query' do |f| %>
    <!-- @todo: Figure out a better way to handle address. Consider offering to
         autodetect location, but keep in mind that people might find it creepy. You could try a "Use my location" button a la Gas Buddy, I suppose. -->

    <%= f.form_group :address, label: { text: 'Address'}, help: 'We will use your address to find services near your location. All personal information will be kept private.' do %>

        <%= f.text_field :address_street, label: 'Street address:', value: '1234 Main Street' %>

        <%= f.text_field :address_apt, label: 'Apartment/unit/floor:' %>
        <%= f.text_field :address_city, label: 'City:' %>
        <%= f.text_field :address_state, label: 'State:', value: 'CA' %>
        <%= f.number_field :address_zip, label: 'ZIP:' %>
    <% end %>

    <%= f.submit %>
  <% end %>
