<!--<h1>Taking Steps</h1>-->
<!-- @todo: Move the following intake form to a separate page and refactor all of this as partials. Have home.html be a genuine orientation to what's going on here. -->

  <%= bootstrap_form_tag url: '/query' do |f| %>
    <!-- @todo: Figure out a better way to handle address. Consider offering to
         autodetect location, but keep in mind that people might find it creepy. You could try a "Use my location" button a la Gas Buddy, I suppose. -->

    <!-- The documentation says this should be wrapper_class but class is what works. (https://github.com/bootstrap-ruby/rails-bootstrap-forms#additional-form-group-attributes) -->
    <%= f.form_group :address, class: 'section', help: 'We will use your address to find services near your location. All personal information will be kept private.' do %>

        <%= f.text_field :address_street, label: 'Street address:', value: '1234 Main Street' %>

        <%= f.text_field :address_apt, label: 'Apartment/unit/floor:' %>
        <%= f.text_field :address_city, label: 'City:' %>
        <%= f.text_field :address_state, label: 'State:', value: 'CA' %>
        <%= f.number_field :address_zip, label: 'ZIP:' %>
    <% end %>

    <div class="section">
        <%= f.form_group :gender, label: { text: 'What is your gender?'} do %>
            <%= f.check_box :gender, label: 'Female' %>
            <%= f.check_box :gender, label: 'Male' %>
            <%= f.check_box :gender, label: 'Other' %>
        <% end %>
        <%= f.form_group :transgender, label: { text: 'Do you identify as transgender or gender-variant?'} do %>
            <%= f.radio_button :transgender, 1, label: 'Yes' %>
            <%= f.radio_button :transgender, 0, label: 'No' %>
        <% end %>
    </div>

    <%= f.form_group :race, class: 'section', label: { text: 'How would you describe your race?'} do %>
        <%= f.check_box :race, label: 'Black or African-American' %>
        <%= f.check_box :race, label: 'Asian/Pacific Islander' %>
        <%= f.check_box :race, label: 'American Indian or Native American' %>
        <%= f.check_box :race, label: 'White or Caucasian' %>
        <%= f.check_box :race, label: 'Hispanic or Latino/a' %>
        <%= f.check_box :race, label: 'Other' %>
    <% end %>

    <%= f.form_group :veteran, class: 'section', label: { text: 'Are you a veteran?'} do %>
        <%= f.radio_button :veteran, 0, label: 'Yes' %>
        <%= f.radio_button :veteran, 1, label: 'No' %>
    <% end %>

    <%= f.form_group :age, class: 'section', label: { text: 'Age:'} do %>
        <%= f.radio_button :age, 0, label: 'I am younger than 18' %>
        <%= f.radio_button :age, 1, label: 'I\'m over 18 but not a senior citizen' %>
        <%= f.radio_button :age, 2, label: 'I\'m a senior citizen' %>
    <% end %>

    <%= f.submit 'Submit', id: 'btn-submit' %>
  <% end %>

  <div class="nav-buttons">
      <button class="btn btn-default btn-previous" type="button">Previous</button>
      <button class="btn btn-default btn-next" type="button">Next</button>
  </div>
