<p id="notice"><%= notice %></p>

<h1>Your options include:</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Location</th>
      <th>Organization</th>
      <th>Veteran</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @services.each do |service| %>
      <tr>
        <td><%= service.name %></td>
        <td><%= service.description %></td>
        <td><%= service.location %></td>
        <td><%= service.organization %></td>
        <td><%= link_to 'More info', service %></td>
      </tr>
    <% end %>
  </tbody>
</table>
