  <%= bootstrap_form_for(@search) do |f| %>
    <!-- The documentation says this should be wrapper_class but class is what works. (https://github.com/bootstrap-ruby/rails-bootstrap-forms#additional-form-group-attributes) -->
    <%= f.form_group :address, class: 'section', help: 'We will use your address to find services near your location. All personal information will be kept private.' do %>

        <%= f.text_field :address_street, label: 'Street address:', value: '1234 Main Street' %>
        <%= f.text_field :address_city, label: 'City:' %>
        <%= f.text_field :address_state, label: 'State:', value: 'CA' %>
        <%= f.number_field :address_zip, label: 'ZIP:' %>
    <% end %>

    <%= f.form_group :gender, class: 'section', label: { text: 'What is your gender?'} do %>
        <%= f.check_box :gender, label: 'Female' %>
        <%= f.check_box :gender, label: 'Male' %>
        <%= f.check_box :gender, label: 'Other' %>
    <% end %>
    <%= f.form_group :transgender, class: 'section', label: { text: 'Do you identify as transgender or gender-variant?'} do %>
        <%= f.radio_button :transgender, 't', label: 'Yes' %>
        <%= f.radio_button :transgender, 'f', label: 'No' %>
    <% end %>

    <%= f.form_group :affiliation, class: 'section', label: { text: 'Which, if any, of the following do you identify as?'} do %>
        <%= f.check_box :affiliation, label: 'Black or African-American' %>
        <%= f.check_box :affiliation, label: 'Asian/Pacific Islander' %>
        <%= f.check_box :affiliation, label: 'American Indian or Native American' %>
        <%= f.check_box :affiliation, label: 'White or Caucasian' %>
        <%= f.check_box :affiliation, label: 'Hispanic or Latino/a' %>
        <%= f.check_box :affiliation, label: 'Christian' %>
        <%= f.check_box :affiliation, label: 'Jewish' %>
        <%= f.check_box :affiliation, label: 'Muslim' %>
        <%= f.check_box :affiliation, label: 'Disabled or with disabilities' %>
        <%= f.check_box :affiliation, label: 'Lesbian, gay, bisexual, queer and/or transgender' %>
    <% end %>

    <%= f.form_group :veteran, class: 'section', label: { text: 'Are you a veteran?'} do %>
        <%= f.radio_button :veteran, 't', label: 'Yes' %>
        <%= f.radio_button :veteran, 'f', label: 'No' %>
    <% end %>

    <%= f.form_group :age, class: 'section', label: { text: 'Age:'} do %>
        <%= f.radio_button :age, 0, label: 'I\'m a child' %>
        <%= f.radio_button :age, 1, label: 'I\'m a teenager' %>
        <%= f.radio_button :age, 2, label: 'I\'m a young adult' %>
        <%= f.radio_button :age, 3, label: 'I\'m an adult but not a senior citizen' %>
        <%= f.radio_button :age, 4, label: 'I\'m a senior citizen' %>
    <% end %>

   <div class="section">
        <p>The next few questions are about what you look for in services. Your answers will be kept private.</p>
    </div>

    <%= f.form_group :public_transit, class: 'section', label: { text: 'Do you rely on public transit?'} do %>
        <%= f.radio_button :public_transit, 't', label: 'Yes' %>
        <%= f.radio_button :public_transit, 'f', label: 'No' %>
    <% end %>

    <%= f.form_group :wheelchair, class: 'section', label: { text: 'Do you usually use a wheelchair?'} do %>
        <%= f.radio_button :wheelchair, 't', label: 'Yes' %>
        <%= f.radio_button :wheelchair, 'f', label: 'No' %>
    <% end %>

    <%= f.form_group :free, class: 'section', label: { text: 'Do you want to see only free (no-cost) services?'} do %>
        <%= f.radio_button :free, 't', label: 'Yes' %>
        <%= f.radio_button :free, 'f', label: 'No' %>
    <% end %>

    <%= f.form_group :language, class: 'section', label: { text: 'Do you prefer to use any of the following languages instead of English?'} do %>
        <%= f.check_box :language, label: 'American Sign Language (ASL)' %>
        <%= f.check_box :language, label: 'Cantonese' %>
        <%= f.check_box :language, label: 'Mandarin' %>
        <%= f.check_box :language, label: 'Russian' %>
        <%= f.check_box :language, label: 'Spanish' %>
        <%= f.check_box :language, label: 'Tagalog' %>
    <% end %>

   <div class="section">
        <p>No matter how well people get along, there are times when they disagree, get annoyed or have fights. The next few questions address whether you have been affected by violence as a way to settle differences. Your answers will be kept private.</p>
    </div>

    <%= f.form_group :abuse_verbal_emotional, class: 'section', label: { text: 'In the past 12 months, have you been emotionally or verbally abused by anyone; for example, has anyone sworn at you, threatened to hit you, or threatened to throw something at you?'} do %>
        <%= f.radio_button :abuse_verbal_emotional_past_year, 't', label: 'Yes' %>
        <%= f.radio_button :abuse_verbal_emotional_past_year, 'f', label: 'No' %>
    <% end %>

    <%= f.form_group :abuse_physical_past_year, class: 'section', label: { text: 'In the past 12 months, have you been hit, slapped, kicked or otherwise physically hurt?'} do %>
        <%= f.radio_button :abuse_physical_past_year, 't', label: 'Yes' %>
        <%= f.radio_button :abuse_physical_past_year, 'f', label: 'No' %>
    <% end %>

    <%= f.form_group :abuse_physical_past_month, class: 'section', label: { text: 'In the past month have you been hit, slapped, kicked or otherwise physically hurt?'} do %>
        <%= f.radio_button :abuse_physical_past_month, 't', label: 'Yes' %>
        <%= f.radio_button :abuse_physical_past_month, 'f', label: 'No' %>
    <% end %>

    <%= f.form_group :domestic_violence, class: 'section', label: { text: 'Would you like help with any of the following?'}, help: 'All of your answers are confidential.' do %>
        <%= f.check_box :domestic_violence, label: 'Domestic violence hotline' %>
        <%= f.check_box :domestic_violence, label: 'Domestic violence counseling' %>
        <%= f.check_box :domestic_violence, label: 'Domestic violence shelter' %>
        <%= f.check_box :domestic_violence, label: 'Anger management' %>
        <%= f.check_box :domestic_violence, label: 'None of these' %>
    <% end %>

    <%= f.form_group :mental_health, class: 'section', label: { text: 'Would you like help with any of the following?'}, help: 'All of your answers are confidential.' do %>
        <%= f.check_box :mental_health, label: 'Suicide prevention' %>
        <%= f.check_box :mental_health, label: 'Mental health counseling or therapy' %>
        <%= f.check_box :mental_health, label: 'None of these' %>
    <% end %>

    <%= f.submit 'Submit', id: 'btn-submit' %>
  <% end %>

  <div class="nav-buttons">
      <button class="btn btn-default btn-previous" type="button">Previous</button>
      <button class="btn btn-default btn-next" type="button">Next</button>
  </div>
