<p id="notice"><%= notice %></p>

<h1>Your options include:</h1>

<% if @search.search_services.empty? %>

  <p>No records found</p> <!-- @todo: Rephrase to redirect to other options -->

<% else %>

  <% @search.search_services.each do |service| %>
    <br />

    <div class="div">
      <h3><%= service.name %></h3>
      <p>
        <%= service.location %>
        (<%= link_to 'map', service.google_maps_link(service.location) %>)
      </p>
      <% # @todo: Refactor the below as two helper functions. They're also used
         # in app/views/services/show.html.erb. DRY.
      %>
      <% if !service.properties.blank? %>
        <p>
          <strong>Characteristics:</strong>
          <ul>
            <% service.properties.each do |property| %>
              <li><%= property.description %></li>
            <% end %>
          </ul>
        </p>
      <% end %>

      <% if !service.tags.blank? %>
        <p>
          <strong>Available services include:</strong>
          <ul>
            <% service.tags.each do |tag| %>
              <li><%= tag.name %></li>
            <% end %>
          </ul>
        </p>
      <% end %>
    </div>
  <% end %>

<% end %>
